*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #000000d2;
    width: 100vw;
     border: 1px;
    display: flex;
    margin-bottom: 80px;
}
#side-bar{
    
    background-color: black; 
    margin-left: 10px;
    width: 23%;
   
   top: 1px;

    
}

.home1{
    
    margin-left: 10px;  
    background-color: hsla(0, 3%, 15%, 0.897); 
    width: 18vw;
    border-radius: 10px;
}

.playlist{
    margin-left: 10px;
    width:1px;
    height: 1px;
}
.song>img{
    background:linear-gradient(315deg, white ,blue) ;
    border-radius: 5px;
}
.epi>img{
    background-color: #004638;
    border-radius: 10px;
}
.imgy{
    height: 60px;
    width: 45px;
}
.imgx{
    height: 45px;
}
#left-side{
    width: 77%;
    background-color: rgb(33, 29, 29);
    
}
.hero{
    display: flex;
    width: 77%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hero2{
    display: flex;
    width: 77%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width:200px;
    height: 280px;
    background-color: black;
}
.card>img{
    margin: 10px;
}
.see:hover{
    text-decoration: underline;
    text-emphasis-color: blue;
    cursor: move;

}
a{
   text-decoration: none;
   
}
.angle{
   
    
}


footer{
    background-color: rgb(49, 46, 46);
    left:0;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: black;
    box-shadow: 10px 10px 10px 10px rgba(255,255,255); 
    position: fixed;
}
.f1{

}

@media screen and (max-width:480px) {
    #side-bar{
        display: none !important;
    }
}